<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
        <div class="col m6">
            <h2>Heading 2</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
                modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
        </div>
        <div class="col m6">
            <h2 class="center-align">Login</h2>
            <div class="row">
                <form method="post" name="login" class="col s12">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="input-field col s12">
                            <!--<input id="email" type="email" class="validate">-->
                            {{ form.email(size=80) }}
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.password(size=80) }}
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>
                                {{ form.remember_me }}
                                <label for="remember_me">Remember me</label>
                            </p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col m12">
                            <p class="right-align">
                                <input type="submit" class="waves-effect waves-light btn" value="Sign In">
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
