
  <nav>
    <div class="nav-wrapper">
      <a href="{{ url_for('index') }}" class="brand-logo">KUBA and ERNI's Site</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('user', email=current_user.email) }}">Profile</td></a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
